@import "tailwindcss";

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@source "../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views";
@source "../../vendor/laravel/jetstream/**";
@source "../views";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: Inter var, ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-arial: arial, sans;

  --color-mainWhite: #fdfffc;
  --color-darkBlue: #1f2937;
  --color-bluee: #113946;
  --color-turqoFocus: #03dccd;
  --color-turqo: #04f1e1;
  --color-reddish: #ca7471;

  --background-image-gradient-radial: radial-gradient(var(--tw-gradient-stops));

  --tracking-widest-xl: 0.15em;

  --leading-12: 68px;

  --container-8xl: 88rem;
  --container-9xl: 96rem;
  --container-10xl: 104rem;
}

[x-cloak] {
    display: none;
}
